IndentWidth: 4
DerivePointerAlignment: false
PointerAlignment: Left
AlignAfterOpenBracket: AlwaysBreak
BinPackArguments: false
AllowAllArgumentsOnNextLine: false

# Braces on the same line, except for functions
BreakBeforeBraces: Linux

AlwaysBreakAfterReturnType: All

SortIncludes: false

# vim: set filetype=yaml:
